.header {
	position: fixed;
	top: 0;
	z-index: 100;
	padding: 30px 0;
	width: 100%;
	transition: background-color $duration-normal;

	&__content {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: auto auto auto;
		gap: 30px;
	}

	&__buttons-block {
		position: relative;
		display: flex;
		align-items: center;
		gap: 50px;
	}

	&__buttons-block::after {
		content: "";
		position: absolute;
		right: 150px;
		width: 2px;
		height: 29px;
		background-color: #2e2e2e;
	}

	&__navigation {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 45px;
	}

	&__navigation-link {
		position: relative;
		font-family: $font-title;
		font-weight: 200;
		font-size: 16px;
		color: $color-white;
		transition: color opacity $duration-normal;
	}

	&__navigation-link:active {
		opacity: 0.6;
	}

	&__menu-btn {
		display: none;
		flex-direction: column;
		align-self: flex-end;
		grid-column: 3 / 4;
		border: none;
		background: transparent;
		gap: 4px;

		span {
			display: block;
			border-radius: 2px;
			width: 30px;
			height: 4px;
			background-color: $color-white;
			transition: transform $duration-normal;
		}
	}

	&__menu-btn--close {
		span:nth-child(1) {
			transform: rotate(-40deg) translateY(10px);
		}

		span:nth-child(2) {
			transform: rotate(180deg);
			opacity: 0;
			transition: width $duration-normal;
		}

		span:nth-child(3) {
			transform: rotate(40deg) translateY(-10px);
		}
	}

	&--scrolling {
		background-color: rgba(16, 16, 16, 0.75);
		backdrop-filter: blur(10px);
	}
}

.header--menu-opened {
	width: 100%;
	height: 100vh;
	background-color: $color-black;

	.header__content {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
	}

	.header__navigation {
		display: flex;
		flex-direction: column;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.header__buttons-block {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		gap: 15px;
	}

	.search__input {
		border: 2px solid $accent-color;
		border-radius: 10px;
		padding: 15px 30px;
		width: 350px;
		background: $color-white;
	}
}

@media (hover: hover) and (pointer: fine) {
	.header__navigation-link:hover {
		color: $accent-color;
	}

	.header__navigation-link::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		display: block;
		width: 0;
		height: 2px;
		background-color: $accent-color;
		transition: width 1s;
	}

	.header__navigation-link:hover::after {
		content: "";
		position: absolute;
		bottom: -3px;
		display: block;
		width: 100%;
		height: 2px;
		background-color: $accent-color;
		transition: width 0.5s;
	}
}

@media (max-width: 1290px) {
	.header__content {
		grid-row: auto auto;
	}

	.header__logo {
		align-self: center;
		grid-column: 1 /2;
		grid-row: 1 / 2;
	}

	.header__navigation {
		justify-content: space-around;
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.header__navigation-link:active {
		color: $accent-color;
	}

	.header__buttons-block {
		align-self: center;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	.header__buttons-block::after {
		display: none;
	}
}

@media (max-width: 768px) {
	.header__menu-btn {
		display: flex;
	}

	.header__navigation {
		display: none;
	}

	.header__buttons-block {
		display: none;
	}
}
