.search {
	position: relative;

	&__input {
		outline: none;
		border: 2px solid transparent;
		padding: 15px 0;
		width: 0;
		box-sizing: border-box;
		font-family: $font-primary;
		font-size: 16px;
		color: $color-black;
		background: none;
		transition: $duration-normal;
	}

	svg {
		position: absolute;
		right: 20px;
		top: 50%;
		fill: $color-white;
		opacity: 1;
		transform: translate(-50%, -50%);
		transition: opacity $duration-normal;
	}

	.search__icon {
		width: 20px;
		height: 20px;
	}

	.close__icon {
		display: none;
		width: 24px;
		height: 24px;
	}
}

.search__input-visible {
	.search__input {
		border: 2px solid $accent-color;
		border-radius: 10px;
		padding: 15px 30px;
		width: 350px;
		background: $color-white;
	}

	.search__icon {
		display: none;
	}

	.close__icon {
		right: -45px;
		display: block;
		transition: all $duration-normal;
	}
}

@media (hover: hover) and (pointer: fine) {
	.search:hover {
		.search__input {
			border: 2px solid $accent-color;
			border-radius: 10px;
			padding: 15px 30px;
			width: 350px;
			background: $color-white;
		}

		svg {
			z-index: -1;
			opacity: 0;
		}
	}
}
