section.categories
	h2.categories__title Популярные категории
	.categories__content
		.categories__bg
		ul.categories__list
			li
				a(href="#").categories__link Фотография
			li
				a(href="#").categories__link Путешествия
			li
				a(href="#").categories__link Здоровье
			li
				a(href="#").categories__link Спорт
			li
				a(href="#").categories__link Дизайн
			li
				a(href="#").categories__link Бизнес
			li
				a(href="#").categories__link Музыка
			li
				a(href="#").categories__link Кино
			li
				a(href="#").categories__link Искусство
