section.featured-shows
	.featured-shows__head
		h2.featured-shows__title.section-title Избранные шоу
		p.featured-shows__description Знакомьтесь с самыми свежими историями ведущих подкастеров со всего мира, а также с проверенными создателями технологий.
	.featured-shows__content
		.featured-shows__slider.container
			.swiper-wrapper
				.swiper-slide.featured-shows__slide-card.show-card
					.show-card__img
						img(src="images/Qi1jCIhnmFY.jpg", alt="Фото ведущих подкаста")
					p.show-card__description Присоединяйтесь к нам, когда мы будем знакомиться с последними тенденциями, культовыми стилями, новостями отрасли и инсайдерской информацией из постоянно развивающейся сферы моды.
					ul.show-card__list
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 1
								span.show-card__theme Простые стратегии, которые помогут
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 2
								span.show-card__theme У нас есть только один шанс на это
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 3
								span.show-card__theme Помогите своей семье добиться успеха в 2023 году
					a(href="#").button.button-fill.show-card__browse-link Все эпизоды

				.swiper-slide.featured-shows__slide-card.show-card
					.show-card__img
						img(src="images/dZEEhW6L6E4.jpg", alt="Фото ведущих подкаста")
					p.show-card__description В этом захватывающем эпизоде "Криминальных хроник" мы разбираемся в запутанном деле о громком исчезновении, которое оставило следователей без внимания.
					ul.show-card__list
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 1
								span.show-card__theme Ежемесячные беседы, в которых обсуждаются проблемы
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 2
								span.show-card__theme Ментальное здоровье и общество
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 3
								span.show-card__theme Даже введенные в заблуждение демагоги отреклись
					a(href="#").button.button-fill.show-card__browse-link Все эпизоды

				.swiper-slide.featured-shows__slide-card.show-card
					.show-card__img
						img(src="images/medium-shot-smiley-men-recording-podcast.jpg", alt="Фото ведущих подкаста")
					p.show-card__description В выпусках авторы в весёлой и не принуждённой обстановке обсуждают самые разные и неожиданные темы современного общества.
					ul.show-card__list
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 1
								span.show-card__theme Как видеоигры влияют на мозг
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 2
								span.show-card__theme Чем опасен дипфейковый Люк Скайуокер
						li
							a(href="#")
								.button-play
									+svg("play")
								span.show-card__episod Эпизод 3
								span.show-card__theme Что мы знаем о эмоциях насекомых.
					a(href="#").button.button-fill.show-card__browse-link Все эпизоды


		.featured-shows__slider-navigation
			button.slider-nav-btn.featured-shows__slide-btn-prev
				+svg("arrow-right")
			button.slider-nav-btn.featured-shows__slide-btn-next
				+svg("arrow-right")
