header.header
	.header__content.container
		a(href="#").header__logo.logo
			+svg("logo")
			span.logo-text PodCloud
		button.header__menu-btn#header__menu-btn
			span
			span
			span
		nav.header__navigation
			each object, key in data.header.navigation
				a.header__navigation-link.js-to-anchor(href=object.url data-link=key)
					!= object.name

		.header__buttons-block
			.search
				<form name="search">
					<input type="text" class="search__input" placeholder="авторы, темы, названия">
				</form>
				+svg("search").header__search-btn.search__icon
				+svg("close").header__close-btn.close__icon
			a(href="#").header__log-in.button.button-fill Войти
