header.header
	.header__content.container
		a(href="#").header__logo
			+svg("logo")
			span.logo-text PodCloud
		ul.header__navigation
			each object, key in data.header.navigation
				li
					a.header__navigation-link.js-to-anchor(href=object.url data-link=key)
						!= object.name


		.header__buttons-block
			.search
				<form name="search">
					<input type="text" class="search__input">
				</form>
				+svg("search").search__icon
			a(href="#").header__log-in.button.button-fill Войти
