section.hero
	.hero__bg
		.hero__bg-gradient
			.hero__bg-circle
			.hero__content.container
				.hero__main-info
					h1.hero__main-title Находите и слушайте свои любимые подкасты!
					p.hero__description PodCloud - проект, посвященный тому, чтобы помочь слушателям находить свои любимые подкасты и наслаждаться ими. Команда, стоящая за этим проектом, состоит из страстных энтузиастов подкастинга.
					.hero__buttons-block
						a(href="#").button.button-fill
							span Выбрать подкаст
							+svg("arrow-right")
						a(href="#").button.button-outline
							+svg("compas")
							span Поиск каналов
				.hero__interactive-block
					<svg class="hero__image-1" width="317" height="457" viewBox="0 0 317 457">
						<mask id="svgmask2">
							<path d="M158.194 316.377C182.365 316.377 203.051 307.771 220.261 290.568C237.468 273.365 246.072 252.669 246.072 228.5V87.887C246.072 63.7175 237.474 43.0302 220.261 25.8183C203.051 8.61026 182.365 0 158.194 0C134.025 0 113.337 8.61026 96.1259 25.8183C78.9141 43.0273 70.3096 63.7175 70.3096 87.887V228.5C70.3096 252.668 78.9179 273.365 96.1259 290.568C113.334 307.771 134.025 316.377 158.194 316.377Z" fill="white"/>
							<path d="M311.162 180.988C307.694 177.508 303.565 175.768 298.804 175.768C294.049 175.768 289.93 177.508 286.446 180.988C282.971 184.466 281.232 188.585 281.232 193.344V228.5C281.232 262.373 269.19 291.346 245.113 315.422C221.044 339.499 192.067 351.538 158.193 351.538C124.319 351.538 95.3459 339.499 71.2677 315.422C47.1924 291.352 35.1558 262.374 35.1558 228.5V193.344C35.1558 188.585 33.4156 184.466 29.9382 180.988C26.4589 177.508 22.3438 175.768 17.5803 175.768C12.8168 175.768 8.69684 177.508 5.21945 180.988C1.73918 184.466 0 188.585 0 193.344V228.5C0 268.963 13.5055 304.164 40.5089 334.097C67.5133 364.03 100.882 381.194 140.615 385.585V421.841H70.3087C65.548 421.841 61.4291 423.583 57.9507 427.063C54.4714 430.539 52.7313 434.66 52.7313 439.421C52.7313 444.174 54.4714 448.302 57.9507 451.779C61.4291 455.255 65.548 457 70.3087 457H246.072C250.832 457 254.957 455.256 258.43 451.779C261.913 448.303 263.654 444.175 263.654 439.421C263.654 434.661 261.913 430.54 258.43 427.063C254.957 423.583 250.833 421.841 246.072 421.841H175.774V385.585C215.501 381.194 248.867 364.03 275.874 334.097C302.881 304.164 316.39 268.963 316.39 228.5V193.344C316.39 188.586 314.646 184.47 311.162 180.988Z" fill="white"/>
						</mask>
						<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/man-recording-podcast-medium-shot.jpg" mask="url(#svgmask2)"></image>
					</svg>
					.hero__info-card.card-1
						span.card-name Том Карент
						p.card-description.text-light Наслаждайтесь веселыми разговорами, стендап-комедиями и дискуссиями о фильмах, телешоу и популярной культуре.
						a(href="#").card-link.podcast-link
							span.card-link-icon.play-icon
								+svg("play")
							span Слушать
					<svg class="hero__image-2" width="230" height="359" viewBox="0 0 230 359">
						<mask id="svgmask3">
							<path d="M115.004 359C146.634 359 173.703 349.235 196.223 329.714C218.74 310.193 230 286.709 230 259.284V99.7274C230 72.3017 218.749 48.8273 196.223 29.2966C173.703 9.77026 146.634 0 115.004 0C83.3772 0 56.3048 9.77026 33.7829 29.2966C11.2597 48.824 0 72.3017 0 99.7274V259.284C0 286.708 11.2647 310.193 33.7829 329.714C56.301 349.235 83.3772 359 115.004 359Z" fill="white"/>
						</mask>
						<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/marty-o-neill-9ujdLC6sOaM-unsplash.jpg" mask="url(#svgmask3)"></image>
					</svg>
					.hero__info-card.card-2
						a(href="#").card-link.our-team-link
							img(src="images/podcast-team.png", alt="Команда подкаста")
							span.card-title Наша команда подкастеров
							span.card-link-icon.arrow-up-right-icon
								+svg("arrow-up-right")
						p.card-description.text-gray Продюсеры контролируют технические аспекты производства подкастов.
