section.reviews
	.reviews__content.container
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, deserunt obcaecati modi asperiores veritatis optio nisi exercitationem saepe maxime velit, aliquid minus fuga facere magni enim commodi aliquam soluta consequuntur?
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, deserunt obcaecati modi asperiores veritatis optio nisi exercitationem saepe maxime velit, aliquid minus fuga facere magni enim commodi aliquam soluta consequuntur?
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, deserunt obcaecati modi asperiores veritatis optio nisi exercitationem saepe maxime velit, aliquid minus fuga facere magni enim commodi aliquam soluta consequuntur?
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, deserunt obcaecati modi asperiores veritatis optio nisi exercitationem saepe maxime velit, aliquid minus fuga facere magni enim commodi aliquam soluta consequuntur?
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, deserunt obcaecati modi asperiores veritatis optio nisi exercitationem saepe maxime velit, aliquid minus fuga facere magni enim commodi aliquam soluta consequuntur?
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, deserunt obcaecati modi asperiores veritatis optio nisi exercitationem saepe maxime velit, aliquid minus fuga facere magni enim commodi aliquam soluta consequuntur?
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, deserunt obcaecati modi asperiores veritatis optio nisi exercitationem saepe maxime velit, aliquid minus fuga facere magni enim commodi aliquam soluta consequuntur?
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, deserunt obcaecati modi asperiores veritatis optio nisi exercitationem saepe maxime velit, aliquid minus fuga facere magni enim commodi aliquam soluta consequuntur?
