-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			navigation: [
				{
					url: '#',
					name: 'Расписание'
				},
				{
					url: '#',
					name: 'Эпизоды'
				},
				{
					url: '#',
					name: 'Авторы'
				},
				{
					url: '#',
					name: 'Контакты'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},

		latest_popular: {
			cards: [
				{
					url: "#",
					img_src: "images/mjJJ3YEPNl8.jpg",
					img_alt: "Фото автора подкаста",
					title: 'Комедия и развлечения',
					desc: 'Наслаждайтесь веселыми разговорами, стендап-комедиями и дискуссиями о фильмах',
					auditions: "1.5k",
					likes: "875",
					comments: "752",
				},
				{
					url: "#",
					img_src: "images/pFTIlvtiHsk.jpg",
					img_alt: "Фото автора подкаста",
					title: 'Личностное развитие',
					desc: 'Погрузитесь в такие темы, как самосовершенствование, продуктивность, мотивация',
					auditions: "3.2k",
					likes: "489",
					comments: "862",
				},
				{
					url: "#",
					img_src: "images/tkXJoA_sn78.jpg",
					img_alt: "Фото автора подкаста",
					title: 'Здоровье и благополучие',
					desc: 'Охватывающий широкий спектр тем, включая фитнес, питание, психическое здоровье',
					auditions: "5.1k",
					likes: "532",
					comments: "1.1k",
				},
				{
					url: "#",
					img_src: "images/TxHjlFAhCRo.jpg",
					img_alt: "Фото автора подкаста",
					title: 'Наука и техника',
					desc: 'Обсудите последние достижения в области науки, техники, освоения космоса',
					auditions: "2.7k",
					likes: "382",
					comments: "184",
				},
			]
		},

		platforms: {
			brand: [
				{
					platform_name: "Spotify",
					url: "#",
					svg_logo_name: "spotify",
				},
				{
					platform_name: "Apple Podcast",
					url: "#",
					svg_logo_name: "apple-podcasts",
				},
				{
					platform_name: "Soundcloud",
					url: "#",
					svg_logo_name: "soundcloud",
				},
				{
					platform_name: "Google Podcasts",
					url: "#",
					svg_logo_name: "google-podcast",
				},
				{
					platform_name: "Podcast Cloud",
					url: "#",
					svg_logo_name: "podcast-cloud",
				},
			]
		},

		top_podcaster: {
			porcasters: [
				{
					name: "Cаша Михева",
					img_url: "images/sebastian-pandelache-VqBfzj5jqok.jpg",
					img_alt: "Фото Саши",
					url: "#",
					theme: "Комедия",
					num_of_episodes: "55 эпизодов",
				},
				{
					name: "Эден Бартон",
					img_url: "images/Podcasters 1.jpg",
					img_alt: "Фото Эдена",
					url: "#",
					theme: "Истории из жизни",
					num_of_episodes: "183 эпизода",
				},
				{
					name: "Карен Стип",
					img_url: "images/Q9U-Rosangel-IMG_6974-Square-e1578080680780.jpg",
					img_alt: "Фото Эдена",
					url: "#",
					theme: "Здоровье",
					num_of_episodes: "105 эпизодов",
				},
			]
		}
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
