main.home
	include ../components/hero
	include ../components/advantages
	include ../components/categories
	include ../components/latest-popular
	include ../components/platforms
	include ../components/top-podcaster
	include ../components/reviews
